.sloganDivCustom{
     background-color: rgba(255, 255, 255, 0.5);
}
.h1SloganCustom{
    color:#333;
    font-style:italic;
}

.lead ul li ul li {
    text-align:left;
}

.img-thumbnail{
    margin-top: 25px;
}